.carrinho {
   width: 90%;
   height: auto;
   border: 1px solid rgb(14, 13, 13);
   text-align: center;
   border-radius: 10px;
   margin: 50px auto;
   padding: 5px;
   box-shadow: -2px -2px 8px #125185;
}

.carrinho h1 {
   margin: 10px auto;
}

.carrinho button {
   font-family: 'Bangers', cursive;
    color: #fdcb12;
    text-shadow: 0px 0px 7px #dbdbdb;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #094da1;
    cursor: pointer;
    width: 100%;
    background-color: #094da1;
    font-size: 25px;
    cursor: pointer;
}

.itemCarrinho {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.total {
   color: #125183;
   font-size: larger;
   border-top: 1px solid #084da1;
   margin: 5px;
}
