main {
   display: grid;
   grid-template-columns: 3fr 1fr;
}

.loading {
   margin: 120px auto;
   text-align: center;
}

.grid-container {
   width: 90%;
   display: grid;
   margin: 0 auto;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-gap: 0;
}

.btn {
   display: flex;
   justify-content: center;
   margin: 20px auto;
}

.btn button {
   border-style: none;
   padding: 5px 10px;
   margin-right: 10px;
   border-radius: 5px;
   background: #125186;
   color: #fff;
   font-size: 1em;
   cursor: pointer;
}

/* Responsividade para carrinho */

@media screen and (max-width:750px) {
   main {
      display: block;
      margin: 0 auto;
   }
   .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
   }
}